.page2 {
    width: 100%;
    max-height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative
}

.page2 .rounded-div-wrapper {
    position: relative;
    width: 100vw;
    height: 9vh;
    overflow: hidden;
    margin-top: -9vh
}

.page2 .rounded-div-wrapper .rounded-div {
    position: absolute;
    left: 50%;
    width: 135vw;
    height: 600%;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-50%)
}

.page2 .page2-head {
    display: flex;
    width: 100%;
    height: 19vh;
    font-family: sora;
    flex-direction: column
}

.page2 .page2-head h1 {
    margin-top: 2.5vw;
    font-size: 4.4vw;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 5.4vw
}

.page2 .page2-head .page2-head1 {
    display: flex;
    align-items: center;
    margin-top: -1.7vw
}

.page2 .page2-head .page2-head1 h3 {
    font-weight: 400;
    font-size: 1.7vw;
    padding-left: 5.4vw
}

.page2 .page2-head .page2-head1 img {
    scale: 0.8
}

.page2 .page2-maincontent {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 27vh)
}

.page2 .page2-maincontent .page2-left {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start
}

.page2 .page2-maincontent .page2-left .page2-cont {
    width: 80%;
    height: 60vh;
    line-height: 4vw;
    font-family: manrope;
    color: #ff1818;
    opacity: .3;
    position: absolute;
    text-transform: uppercase;
    top: 28vh;
    left: 5.4vw
}

.page2 .page2-maincontent .page2-left .page2-cont h1 {
    font-size: 2.8vw;
    margin-bottom: -3.3vw;
    overflow: hidden
}

.page2 .page2-maincontent .page2-left .page2-cont h2 {
    font-size: 2.8vw;
    margin-bottom: -3.3vw;
    overflow: hidden
}

.page2 .page2-maincontent .page2-left .page2-cont h3 {
    font-size: 2.8vw;
    margin-bottom: -3.3vw;
    overflow: hidden
}

.page2 .page2-maincontent .page2-left .page2-cont h4 {
    font-size: 2.8vw;
    margin-bottom: -3.3vw;
    overflow: hidden
}

.page2 .page2-maincontent .page2-left .page2-cont h5 {
    font-size: 2.8vw;
    margin-bottom: -3.3vw;
    overflow: hidden
}

.page2 .page2-maincontent .page2-left .page2-cont-fill {
    width: 80%;
    height: 60vh;
    line-height: 4vw;
    font-family: manrope;
    color: red;
    opacity: 1;
    top: 28vh;
    left: 5.4vw;
    position: absolute;
    text-transform: uppercase
}

.page2 .page2-maincontent .page2-left .page2-cont-fill h1 {
    font-size: 2.8vw;
    margin-bottom: -3.3vw;
    width: 0%;
    text-wrap: nowrap;
    overflow: hidden
}

.page2 .page2-maincontent .page2-left .page2-cont-fill h2 {
    font-size: 2.8vw;
    margin-bottom: -3.3vw;
    width: 0%;
    text-wrap: nowrap;
    overflow: hidden
}

.page2 .page2-maincontent .page2-left .page2-cont-fill h3 {
    font-size: 2.8vw;
    margin-bottom: -3.3vw;
    width: 0%;
    text-wrap: nowrap;
    overflow: hidden
}

.page2 .page2-maincontent .page2-left .page2-cont-fill h4 {
    font-size: 2.8vw;
    margin-bottom: -3.3vw;
    width: 0%;
    text-wrap: nowrap;
    overflow: hidden
}

.page2 .page2-maincontent .page2-left .page2-cont-fill h5 {
    font-size: 2.8vw;
    margin-bottom: -3.3vw;
    width: 0%;
    text-wrap: nowrap;
    overflow: hidden
}

.page2 .page2-maincontent .page2-right {
    width: calc(100% - 80%);
    height: calc(100vh - 27vh);
    display: flex;
    justify-content: flex-end;
    align-items: end;
    overflow-x: hidden
}

.page2 .page2-maincontent .page2-right img {
    width: 100%;
    height: 95%
}





