@font-face {
    font-family: kommon;
    src: url(./KommonGrotesk-SemiBold.woff2);
    font-display: swap
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

::selection {
    background: transparent;
}

body,
html {
    width: 100%;
    background-color: #181818;
}

body::-webkit-scrollbar {
    display: none
}

.wrapper::-webkit-scrollbar {
    display: none
}

/* ============================
   BLOGS SPECIFIC STYLES
   ============================ */

.headerblogs {
    padding-top: 4vh;
    margin-left: 4.6vw;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    margin-right: 4.5vw;
    margin-bottom: 3vh
}

.headerblogsmailsection {
    display: flex;
    background-color: #fff;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 11px
}

.headerblogsmailicon {
    padding-top: 5px
}

.headerblogsmail a {
    color: #000;
    transition: color .4s ease-in-out
}

.headerblogsmail a:hover {
    color: #ff1818
}

.headerblogmaillinktag {
    text-decoration: none;
    font-weight: bolder;
    font-family: Sora;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal
}

.iconblogsdiv {
    display: flex;
    gap: 8px
}

.iconblogsblogs {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 0;
    text-align: justify;
    font-family: Sora;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 0;
    padding-top: 0;
    background-color: #ff2a2a;
    color: #fff;
    font-size: 36px;
    border-radius: 5.153px;
    box-shadow: 0 6.576px 41.102px 0 rgba(0, 0, 0, .25)
}

.iconblogsour {
    text-align: justify;
    font-family: Sora;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 2rem;
    color: #000
}

.linesecondblogs {
    font-size: 2.5rem;
    font-weight: 800;
    padding-left: 16px;
    padding-top: .694444vh;
    padding-bottom: .925926vh;
    color: #000;
    font-family: Sora;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1.8px
}

.seclineblogspag {
    display: flex;
    margin-left: 4.6vw;
    margin-bottom: 2.315vh
}

.blogpageelement {
    border: 5px solid #ff1818;
    border-radius: 25px
}

.cardviewblogs {
    background-color: #9f162d
}

.blogspage {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #fff;
    position: relative
}

.blogsconatinerswiper {
    max-width: 85%;
    max-height: 80%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh
}

.slide-container {
    min-width: 100%;
    color: #e87000
}

.slide-content {
    margin: 0 15px;
    overflow: hidden
}

.headerofcardview {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between
}

.headerofcardviewline {
    color: #ff2a2a;
    font-size: 17px;
    font-weight: 600;
    font-family: Manrope;
    margin-left: 1
}

.card {
    background-color: #fff;
    border-radius: 15px;
    height: 55.722vh
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.157vh 1.302vw 2.315vh 1.302vw;
    border-right: .964px solid #747474;
    border-left: .964px solid #747474;
    border-top: .964px solid #747474;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px
}

.image-content {
    border-right: .964px solid #747474;
    border-left: .964px solid #747474;
    border-bottom: .964px solid #747474;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff
}

.image-content img {
    border-radius: 15px
}

.name {
    font-size: 18px;
    font-weight: 700;
    margin: 1.273vh 0;
    color: #000;
    font-family: Sora;
    font-style: normal;
    font-weight: 700;
    line-height: normal
}

.description {
    font-size: 16px;
    color: #707070;
    text-align: start;
    color: #000;
    text-align: justify;
    font-family: Manrope;
    font-style: normal;
    font-weight: 300;
    line-height: normal
}

.linktomediaum {
    text-decoration: none
}

.swiper-button-next.custom-next-arrow,
.swiper-button-prev.custom-prev-arrow {
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    width: 40px;
    height: 40px;
    position: absolute
}

.swiper-button-next.custom-next-arrow::after,
.swiper-button-prev.custom-prev-arrow::after {
    text-align: center;
    font-size: 25px;
    font-weight: 800
}

.swiper-button-next.custom-next-arrow {
    top: 60vh;
    right: 2.5vw
}

.swiper-button-prev.custom-prev-arrow {
    top: 60vh;
    left: 3vw
}

.swiper-button-next.custom-next-arrow::after {
    padding-left: 15%
}

.swiper-button-prev.custom-prev-arrow::after {
    padding-right: 8%
}

.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    background-color: red
}

.swiper-pagination.blog-page {
    bottom: 5vh !important;
    position: absolute;
}

.blogspage .headerblogs .headerblogsmailsection i {
    font-size: 2.3vw;
    transition: all ease-in-out .4s
}

/* ============================
   MEDIA QUERIES
   ============================ */

@media screen and (max-width:380px) {
    .headerblogs {
        padding-top: 8.5%;
        margin-left: 5%;
        display: flex;
        position: relative;
        align-items: center;
        text-align: center;
        vertical-align: middle;
        margin-right: 5.8%;
        margin-bottom: 1.6%
    }

    .iconblogsblogs {
        padding-left: 8%;
        padding-right: 8%;
        text-align: justify;
        font-weight: 500;
        padding-bottom: 2%;
        padding-top: 2%;
        font-size: 26px;
        border-radius: 8.153px;
        box-shadow: 0 6.576px 41.102px 0 rgba(0, 0, 0, .25)
    }

    .headerblogsmailicon svg {
        height: 35px;
        width: 40px
    }

    .iconblogsour {
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        text-align: justify;
        font-family: Sora;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        font-size: 22px
    }

    .ri-arrow-right-up-line {
        display: none
    }

    .headerblogsmailsection {
        display: flex;
        background-color: #fff;
        align-items: center;
        position: absolute;
        right: 0;
        gap: 11px
    }

    .seclineblogspag {
        margin-top: 5%;
        margin-bottom: 10%
    }

    .blogpageelement {
        margin-top: .231481vh;
        height: 4.166667vh;
        border: 3px solid #ff1818
    }

    .card-content {
        padding: 1vh 3vw 2px 3vw
    }

    .linesecondblogs {
        padding-left: 8px;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: 1.2px
    }

    .name {
        font-size: 4vw
    }

    .description {
        font-size: 4.6vw
    }

    .swiper-button-next.custom-next-arrow,
    .swiper-button-prev.custom-prev-arrow {
        display: none
    }
}

@media screen and (min-width:768px) {
    .slide-content {
        margin: 0 10px
    }
}

.image-content img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

@media screen and (max-width:576px) {
    .slide-content {
        margin: 0;
        overflow: hidden
    }

    .swiper-slide {
        width: 100%
    }

    .headerblogsmail {
        display: none
    }

    .headerblogsmailicon {
        padding-top: 0;
        margin-right: 1.3rem
    }
}

@media screen and (max-width:768px) {
    .slide-content {
        margin: 0 5px;
        overflow: hidden
    }
}